<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>
	<link rel="stylesheet" type="text/css" href="<%= relativePath %>/css/index.css">
</head>
<body>

<% include components/header.html %>
<div id="index">
	<img src="<%= relativePath %>/images/demo.png">
</div>
<% include components/footer.html %>

<script type="text/javascript" src="<%= relativePath %>/js/index.js"></script>
</body>
</html>