#header {
  width: 800px;
  height: 200px;
  border: 3px solid #ccc;
  margin: 0 auto; }

#index {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 10px;
  border: 3px solid #ccc; }

#footer {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border: 3px solid #ccc; }
